<!-- <p>RESULTS:<p> -->
<% if @game.winner == "Draw" %>
	<h1> it was a draw </h1>
	<% elsif @game.winner.name == "computer" %>
	<h1> you lost, the computer won with <%= @game.winner.pick %></h1>
	<% else %>
	<h1> you won, with <%= @game.winner.pick %> </h1>
<%end%>

<form action='/register' method='POST'>
		<button class='play_again'>play again</button>
</form>