<p><%= @player%> pick a weapon</p>

<form action="/play" method="POST">
	<button name="pick" value="Rock" class="r_p_s"><img src="/images/rock.gif" alt="Rock"></button>
	<button name="pick" value="Paper" class="r_p_s"><img src="/images/paper.jpg" alt="Paper"></button>
	<button name="pick" value="Scissors" class="r_p_s"><img src="/images/scissors.jpg" alt="Scissors"></button>
	<input type="hidden" name="name" value=<%=@name%>>
</form>
