head {

}

body {
	background-color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 50px
}

footer {
	font-size: 15px;
	padding: 100px 0 0 0;
}

input {
	text-align: center;
	font-size: 50px;
	border: 2px solid;
  border-radius: 25px;
  box-shadow: 0

}

button {
	font-size: 25px;
	background-color: white;
	border: 0
}


img {
	max-width: 250px;
	max-height: 250px; 
}

.r_p_s {
	transform: rotate(90deg);
}

a {
	font-style: sans-serif;
	font-size: 50px;
	text-align: center;
}

.footer {
	font-size: 15px;
}
